body {
    background-color: mintcream;
}
h1 {
    text-align: center;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
img {
    max-width: 100%;
    height: auto;
}
body {
    padding: 50px;
}
.nav-links {
    display: flex;
    list-style: none;
    text-align: center;
}
.nav-links a {
    color:black;
    text-decoration: underline;
    font-size: 50px;
}
.nav-links a:hover {
    color:cornflowerblue;
}
