body {
    background-color: mintcream;
}
h1 {
    text-align: center;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
img {
    max-width: 100%;
    height: auto;
}
body {
    padding: 50px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-links {
    display: flex;
    list-style: none;
    text-align: center;
}
.nav-links li{
    margin-left: 20px;
}
.nav-links a {
    color:black;
    text-decoration: underline;
    font-size: 1rem;
    transition: color 0.3s;
}
.nav-links a:hover {
    color:cornflowerblue;
}
